
/obj
/nbproject
/src/osd/xenon/gui/images/psd
/mame
/cc.txt
/cc_p.txt
/cccc.txt
/ddd
/gmon.out
/mame.rar
/mamexenon.elf
/mamexenon.elf32
/mamexenon.elf32.bz2
/mamexenon.map
/mamexenonlto.elf32
/mamexenonlto.map
/mamexenonp.elf
/mamexenonp.elf32
/mamexenonp.map
/vmamexenon.elf32.bz2
/xenon.lst